@mixin dispComp {
  display:flex;
  justify-content: center;
  color: #2a4d61
}

@mixin bigFont {
  color: #2a4d61;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
}

@mixin smallFont {
  color: #2a4d61;
  font-family: 'Share Tech', sans-serif;
  font-size: small;
}

@mixin buttonFont {
  color: goldenrod;
  font-family: 'Oxanium', cursive;
  font-size: small;
}

.healthbtns { //SnakeHealthDisplay.js line 48
  @include dispComp();
  @include buttonfont();
}