@mixin dispComp {
  display:flex;
  justify-content: center;
  color: #2a4d61
}

@mixin bigFont {
  color: #2a4d61;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
}

@mixin smallFont {
  color: #2a4d61;
  font-family: 'Share Tech', sans-serif;
  font-size: medium;
}

@mixin buttonFont {
  color: #2a4d61;
  // color:
  font-family: 'Oxanium', cursive;
  font-size: small;
}

.TempGraph {
  @include dispComp();
  position: absolute;
  width: 960px;
  height: 540px;
}

canvas {
  @include dispComp();
  position: static;
  width: 960px;
  height: 540px;
}

h1.TempDisp {
  @include dispComp();
  // @include bigFont();
  @include smallFont();
  // @include buttonFont;
  margin-top: 20px;
  // flex-direction: column;
  justify-content: space-evenly;
  font-size: 26px;
  // position: fixed;
}

h1.TempDisp {
  margin-top: 20px;
  font-size: 35px;
}

canvas {
  margin-bottom: 5%;
}