// @media (prefers-reduced-motion: no-preference) {
//   .sun-moon-image[isDay] {
//     animation: setNight 0.5s linear;
//   }
.sun-moon-image {
  // display: flex;
  // align-items: baseline;
  // flex-direction: column;
  // justify-content: center;
  // justify-items: center;
  margin-top: 5.6em;
  margin-bottom: 5.6em;
  margin-left: 6em;
  margin-right: 6em;
  width: 200px;
  height: 100%;
  position: static;
}
// }

.sun-moon-image[turnToNight="1"] {
  // animation: setNight 1s linear;
  animation: turnToNight 2s 1;
}
.sun-moon-image[TurnToDay="1"] {
  // animation: setNight 1s linear;
  animation: TurnToDay 2s 1;
}

.sun-moon-image.Night {
  transform: rotate(180deg);
}

.sun-moon-image.Day {
  transform: rotate(0deg);
}

@keyframes turnToNight {
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes TurnToDay {
  75% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// @keyframes TurnToDay {
//   25% {
//     transform: rotate(-30deg);
//   }
//   100% {
//     transform: rotate(180deg);
//   }
// }

// .image {
//   display: block;
//   margin: 0 auto;
// }
// .image[wobble='1'] {
//   animation: wobble 1s 1;
// }

// @keyframes wobble {
//   25% {
//     transform: rotate(15deg);
//   }
//   50% {
//     transform: rotate(-30deg);
//   }
//   75% {
//     transform: rotate(5deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
