@media (prefers-reduced-motion: no-preference) {
  .sun-moon-image[rotate='1'] {
    animation: App-logo-spin 0.5s linear;
  }
  .sun-moon-image {
    width: 250px;
    height: 250px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180);
  }
}
