.heater-gui {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}

// style="font-weight:600 !important;text-decoration:none !important;font-size:12px !important;font-family:Arial, sans-serif !important;color:#314152 !important;white-space:nowrap !important"
