.control-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
}

.heater-control {
  display: flex;
  flex-direction: column;
}

.sensor-output {
  display: flex;
  flex-direction: column;
  // align-content: space-around;
}
