@mixin dispComp {
  display:flex;
  justify-content: center;
  color: #2a4d61
}

@mixin bigFont {
  color: #2a4d61;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
}

@mixin smallFont {
  color: #2a4d61;
  font-family: 'Share Tech', sans-serif;
  font-size: small;
}

@mixin buttonFont {
  color: goldenrod;
  font-family: 'Oxanium', cursive;
  font-size: small;
}

.control-board {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  @include dispComp();
  @include buttonFont();
  border: none;
  border-radius: 29px;
  // color: #306998;
  color: #FFD43B;
  background-color: goldenrod;
  // background-color: #FFD43B;
  max-width: 960px;
}

.heater-control {
  display: flex;
  flex-direction: column;
  // background-color: goldenrod;
}

h2 {
  margin-top: 1em;
}

div.heater-gui {
  margin-bottom: 0;
}

.sensor-output {
  @include buttonFont();
  display: flex;
  flex-direction: row;
  justify-content: center;

  // align-content: space-around;
}

p.sensor-readout {
  font-size: 28px;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

#sunMoonYT {
  background-color: goldenrod;
  border: none;
  border-radius: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  justify-items: flex-end;
  position: fixed;
  // height: 100%;
}

main {
  height: 43rem;
  min-width: 100%;
}