@media (prefers-reduced-motion: no-preference) {
  .sun-moon-image {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360);
  }
}
