@mixin dispComp {
  display:flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87)
}

@mixin bigFont {
  color: #2a4d61;
  font-family: 'Bebas Neue', cursive;
  font-size: large;
}

@mixin smallFont {
  color: #2a4d61;
  font-family: 'Share Tech', sans-serif;
  font-size: small;
}

@mixin buttonFont {
  color: #2a4d61;
  font-family: 'Oxanium', cursive;
  font-size: small;
}

.header {
  @include bigFont();
  color: goldenrod;
  
}

.layout {
  display: flex;
  min-height: 100vh;
}

.snek-logo {
  margin-right: 20px;
  margin-left: 20px;
}
.snek-button {
  // margin-right: 20px;
  // margin-left: 20px;
  width: 25px;
}
